.container{
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    /*background-color: #f0f0f0;*/
    border-radius: 8px;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    text-align: center;
}
h1{
    font-size: 3rem;
    color: #fff;
}   

input{
    padding: 15px;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 70%;
    max-width: 400px;
    outline: none;
}
button{ 
    border: 0;
    border-radius: 0 20px 20px 0;
    background-color: #ff9800;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    
}
button:hover{
    background-color: #0056b3;
}